<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}my portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    
    <header>
        <a href="{{url_for('Home')}}">Home</a>
        <a href="{{url_for('product')}}">Products</a>
        <a href="{{url_for('contact')}}">Contact us</a>
        <h1>My Portfolio Website</h1>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <p>@copy; 2025</p>
    </footer>
</body>
</html>